.top_center {
	text-align: center;
}
tr.height{
	height:50px;
}
td.center{
	text-align:center;
}
.table_button{
	text-align:center;
	height:55px;
}
.popup_button{
	border:0;
	outline:0;
	background-color:#59ab6e;
	color:#fcfcfc;
	border-radius: 4px;
	padding:5px;
	cursor:pointer;
}
table{
	margin-right:auto;
	margin-left:auto;
}
.popup_button:hover{
	color:#fcfcfc;
	background-color:#49915b;
}