.star {
	position: relative;
	font-size: 1.5rem;
	color: #ddd;
}

.star input {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	opacity: 0;
	cursor: pointer;
}

.star span {
	width: 100%;
	position: absolute;
	left: 0;
	color: red;
	overflow: hidden;
	pointer-events: none;
}

.score {
	white-space: nowrap;
}

.insertReview_button {
	background-color: #59ab6e;
	color: #fcfcfc;
	width: 5em;
	border-radius: 4px;
	border: none;
}

.insertReview_button:hover {
	color: #fcfcfc;
	background-color: #49915b;
}